- name: install python
  ansible.builtin.dnf:
    name: "{{ iteam }}" 
    state: present
  loop:
  - python3
  - gcc
  - python3-devel

- name: install dependecies
  ansible.builtin.pip:
    requirements: requirements.txt
    executable: pip3.9
    args:
      chdir: /app 